h1 {
    color: rgb(131, 230, 255);
    margin: 0.5rem;
    text-align: center;
}

h1:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    text-decoration: underline red;
}


input,
select {
    width: -webkit-fill-available;
}

.container {
    background-color: whitesmoke;
    display: block;
}

.main1 {
    display: grid;
    margin: 1rem;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #213,
            #112 5%,
            #112 60%,
            #213 95%);

    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
}

.main2 {
    display: grid;
    margin: 1rem;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #213,
            #112 5%,
            #112 60%,
            #213 95%);

    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
}

tr,
th {
    color: white;
    text-align: center;
}


.foot{
    background-color: aquamarine;
    text-align: center;
    
}